@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  padding: 0;
  margin: 0;
  background-color: rgb(250, 250, 250);
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1{
  color: black;
  padding: 20px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 1px;
  background-color: rgb(211, 222, 255);
  border-radius: 50px;
  margin: calc(25% + 5px);
  margin-top: 10px !important;
}

form{
  padding: 20px 40px 10px 0px;
}

input, select{
  padding: 4px;
  margin: 3px;
  width: 90%;
  border-radius: 15px !important;
  border-color: rgb(175, 202, 218);
  border-style: solid;
}

.col-2{
  margin-bottom: 15px;

}

.enviar{
  display: flex !important;
  justify-content: center !important;
  margin-bottom: 10px;
}

.reporte{
  display: flex !important;
  justify-content: center !important;
}